a:2:{s:83:"/(?# Initial Regex to extract Grid Data)(.*\d{4} \d{3} \d{3}\s)(.*?)(Subtotal.*)/is";s:2:"$2";s:113:"/(?# Convert Grid Data to CSV Values)(.*?) (.*?)(\s1.00 EACH\s)((\d{0,3}),*(\d{0,3}),*(\d{0,3})(.\d{2}))(.*?
)/is";s:43:"Materials,Brims Tweed Heads,$1,$2,$5$6$7$8
";}