a:4:{s:278:"/(?# Initial Regex to extract TRX Data)(.*?)(Date Particulars Debits Credits Balance\s?)((\d{1,2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}\sBrought forward\s((\d{0,3})(\,{0,1})*(\d{0,3})\.(\d{1,2}) (Cr|Dr)))|Brought forward)(.*?)(Carried forward|Identifying.*)/is";s:3:"$12";s:81:"/(?# Remove excessive ... dots and all newline chars from trx data)(\.\.\.*|
)/is";s:0:"";s:55:"/(?# Clean up excessive whitespace in all data)(\s+)/is";s:1:" ";s:168:"/(?# Group by Date and find Closing Balances)(\d{1,2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4})(.*?)((Cr|Dr)(\d{0,3})(\,{0,1})*(\d{0,3})(\.)(\d{1,2}))/is";s:39:"$1#SEP#$3#SEP#$6$7$8$9$10 $5#DATEBREAK#";}